{% extends "base.html" %}
{% block content %}
<div class="card">
  <h2>{{ product.name }}</h2>
  <p class="muted">Farmer: {{ product.farmer.username }}</p>
  <p>{{ product.description|linebreaksbr }}</p>
  <p><strong>{{ product.price_per_unit }}</strong> / {{ product.unit }}</p>
  <p class="muted">Available: {{ product.available_quantity }} {{ product.unit }}</p>

  <div class="row">
    <a class="btn secondary" href="/smpt/">Back</a>
    <a class="btn" href="{% url 'order_create' product.pk %}">Place Order</a>
  </div>
</div>
{% endblock %}